# .gitignore

# =============================================================================
# Project-specific files and directories
# =============================================================================

# Machine-specific values
/bin/.values

# =============================================================================
# Generic system files
# =============================================================================

# === Linux / Unix
nohup.out

# === Mac OS / OS X
._*
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
Icon
Icon?

# === Windows
desktop.ini
Thumbs.db

# =============================================================================
# Editor files
# =============================================================================

# === Emacs
.emacs.*
.elc
auto-save-list
tramp
*~
\#*

# === Textmate
*.tmproj
tmtags

# === Vim
*.sw?

# =============================================================================
# Development files
# =============================================================================

# === Ruby / Rails
/app/assets/builds/
!/app/assets/builds/.keep
/pkg
# /Gemfile.lock

# === RBS / TypeProf / output of storage/script/rbs_tree
/.gem_rbs_collection/
/rbs_collection.*
/sig.new/

# === RubyMine
/.idea/

# === VSCode
/.vscode/

# === RVM / rbenv
/.rbenv-version
# /.ruby-version
# /.ruby-gemset
/.rvmrc
/.versions.conf

# === Cucumber
/rerun.txt

# === Bundler
/.bundle

# === Yarn/NPM
/.yarnrc
/.yarnrc.yml
/node_modules/
/yarn-error.log
/yarn.lock
/package-lock.json

# === ByeBug gem
.byebug_history

# === Railroad gem
# Output files at project root.
/*.dot
/*.svg

# === Rcov
/coverage/
/coverage.data

# === YARD
/.yardoc/

# === SQLite (development-only database)
/db/*.sqlite
/db/*.sqlite3
/db/*.sqlite3-journal

# === SASS
.sass-cache/

# === Ctags
tags

# === Eclipse
/.buildpath
/.classpath
/.loadpath
/.metadata/
/.project
/.settings/
/*.launch
/*.pydevproject
/local.properties

# =============================================================================
# Other applications
# =============================================================================

# === Picasa
.picasa.ini

# =============================================================================
# Generic files
# =============================================================================

# === Backup files
*.bak

# === Log files
*.log
/log/
!/log/.keep

# === Temporary files
*.tmp
/tmp/
!/tmp/.keep

# === File uploaded in development
/storage/
!/storage/.keep
!/storage/bundle-config
!/storage/gemrc
!/storage/yarnrc
!/storage/yarnrc.yml

# === local environment configuration files
env.*
